{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb" class="mt-3 flex-row">
    <ol class="breadcrumb font-weight-light" style="background-color: white;">
      <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
      <li class="breadcrumb-item active"> {{ category.name }} </li>
    </ol>
</nav>

<div class="row">
    <!-- BLOCK OF PRODUCT ITEM -->
    {% for product in category_products %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="font-weight-light">
                        <a href="{{ product.get_absolute_url }}">
                            {{ product.title }}
                        </a>
                    </h5>
                    <!-- Product price-->
                    <h6> {{ product.price }} тг </h6>      
                    
                    <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                        <button class="btn btn-danger font-weight-light">Добавить в корзину</button>     
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>


{% endblock content %}