<table class="table">
    <tbody>

        <tr>
            <td>Издательство</td>
            <td>{{ product.publisher }}</td>
        </tr>
        
        <tr>
            <td>Переплет</td>
            <td>{{ product.binding }}</td>
        </tr>

        <tr>
            <td>Размер</td>
            <td>{{ product.size }}</td>
        </tr>

        <tr>
            <td>Бумага</td>
            <td>{{ product.paper }}</td>
        </tr>

        <tr>
            <td>ISBN</td>
            <td>{{ product.ISBN }}</td>
        </tr>

        <tr>
            <td>Тираж</td>
            <td>{{ product.edition }}</td>
        </tr>

        <tr>
            <td>Язык</td>
            <td>{{ product.language }}</td>
        </tr>

        <tr>
            <td>Код товара</td>
            <td>{{ product.product_code }}</td>
        </tr>

    </tbody>
</table>